graphviz>=0.19.1
networkx>=2.6.3
matplotlib>=3.5.1
pydot>=1.4.2
dominate>=2.6.0
numpy
torch>=1.10.1
Pillow
transformers
tensorboard
tqdm
win10toast
pandas
seaborn
scikit-learn
overrides
PyDTMC
openpyxl
